<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Аутентификация</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h2>Аутентификация</h2>
    <div>
        <div><a href="keycloak">keycloak2</a></div>
        <div><a href="inner-registration">inner-registration</a></div>
        <div><a href="lanit-fake-reg">фейк кукис</a></div>
        <div><a href="lanit-remove-fake-reg">удалить фейк кукис</a></div>
        <div><a href="44fz-to-visiology">44fz-to-visiology</a></div>
        <div><a href="223-to-visiology">223-to-visiology</a></div>
    </div>
</div>
</body>
</html>